<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <security>
        <requestFiltering removeServerHeader="true">
          <requestLimits maxAllowedContentLength="62914560" />
        </requestFiltering>
      </security>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
        </customHeaders>
      </httpProtocol>
      <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
      <aspNetCore processPath="dotnet"
                  arguments=".\Tafseel.Api.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\App_Data\logs\stdout"
                  startupTimeLimit="120"
                  requestTimeout="00:05:00"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Staging" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
